html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
    

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand img {
    transition: transform 0.3s ease;
    Height: 400px; /* adjust if necessary */
    width: 200px; /* adjust if necessary */
    object-fit: contain; /* This will make sure the image is fully visible */
}

    .navbar-brand img:hover {
        transform: scale(1.1); /* Makes the image 10% larger when hovered */
    }

/*Home.css:*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --color-primary: #15A3C7;
    --color-white: #eaeaea;
    --color-dark: #333;
    --color-black: #222;
}

body {
    padding-top: 5rem; /* Ensure there is space for the fixed navbar */
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.container {
    max-width: 1620px;
    width: 90%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 12px 28px;
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--color-white);
    letter-spacing: .4px;
    font-weight: 600;
    transition: .4s ease;
    opacity: 0;
    animation: logoAni 1s ease forwards;
    animation-delay: 1.3s;
}

    .btn:hover {
        background: transparent;
        color: var(--color-primary);
    }



/* Start Nav Bar */
nav {
    width: 100%;
    height: 5rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: grid;
    place-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .nav-container ul {
        display: flex;
        align-items: center;
        gap: 30px;
    }

.logo h3 {
    font-size: 25px;
    color: var(--color-black);
    opacity: 0;
    animation: logoAni 1s ease forwards;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none; /* Remove black dots */
}

    .nav-link li a {
        color: var(--color-black);
        font-size: 17px;
        transition: .4s ease;
        display: inline-block;
        animation: NavliaAni forwards 1s ease;
        animation-delay: calc(.2s * var(--i));
        opacity: 0;
        text-decoration: none; /* Add this line to remove the underline */
    }

        .nav-link li a:hover {
            color: var(--color-primary);
            text-decoration: none; /* Add this line to remove the underline */
        }

    .nav-link li .active {
        color: var(--color-primary);
        text-decoration: none; /* Add this line to remove the underline */
    }





/* End Nav Bar */

/* Start Header Section */
header {
    width: 100%;
    /* height: calc(100vh - 5rem); */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content vertically */
    position: relative;
    overflow: hidden;
}

.header-left {
    max-width: 620px;
    position: relative;
}

    .header-left h1 {
        font-size: 54px;
        line-height: 1.2;
        color: var(--color-black);
        animation: H1Ani forwards 1s ease;
        opacity: 0;
        animation-delay: 1s;
    }

    .header-left h3 {
        font-size: 40px;
        font-weight: 400;
        color: var(--color-primary);
        margin-top: .5rem;
        animation: H1Ani forwards 1s ease;
        opacity: 0;
        animation-delay: .8s;
    }

    .header-left p {
        margin: 15px 0 30px;
        line-height: 150%;
        font-size: 16px;
        animation: logoAni forwards 1s ease;
        opacity: 0;
        animation-delay: .6s;
    }

.header-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.header-right {
    position: relative;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
    right: -7%;
}

/*.sq-box {
    height: 100%;
    width: 100%;
    border: 25px solid var(--color-primary);
    background: var(--color-white);
    box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.3s;
}*/

.sq-box img {
    position: absolute;
    transform: rotate(-45deg);
    max-width: 700px;
    top: 130px;
    left: -180px;
    opacity: 0;
    animation: carAni forwards 1s ease;
    animation-delay: 1.6s;
}




/*.sq-box2 {
    position: absolute;
    width: 700px;
    height: 700px;
    background: var(--color-primary);
    transform: rotate(45deg);
    top: -26%;
    right: -26%;
    z-index: -1;
    opacity: 0;
    animation: sqbox2Ani forwards 1s ease;
    animation-delay: .3s;
}*/

/* End Header Section */

/* Animation Start */
@keyframes logoAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes NavliaAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes socialAni {
    0% {
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}

@keyframes H1Ani {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes carAni {
    0% {
        transform: translate(180px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}

@keyframes sqbox2Ani {
    0% {
        right: -40%;
        opacity: 0;
    }

    100% {
        right: -26%;
        opacity: 1;
    }
}
/* End Animation */

/* Search Box */
/* Style for the search form */
.search-form {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the form to the right */
}

/* Style for the search input */
.search-input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem; /* Rounded corners for the left side */
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

/* Style for the search button */
.search-button {
    --bs-btn-line-height: 0.9rem;
}

/*.search-button:hover {
        background-color: #0f567b; /* Darker shade for hover 
    } */

/* Change the border color on focus for the search input */
.search-input:focus {
    border-color: #1789c0;
}



.nav-container .search-box {
    width: 350px; /* Adjust width of the search box */
    height: 40px;
}

/* Search */
.search-box::placeholder {
    color: #ccc;
}

.suggestions-box {
    position: absolute;
    top: 80%; /* Position below the search box */
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    max-width: 358px;
    overflow-y: auto;
    z-index: 1000;
}

    .suggestions-box .suggestion-item {
        padding: 10px;
        cursor: pointer;
    }

        .suggestions-box .suggestion-item:hover {
            background-color: #f0f0f0;
        }
