html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand img {
    transition: transform 0.3s ease;
    Height: 400px; /* adjust if necessary */
    width: 200px; /* adjust if necessary */
    object-fit: contain; /* This will make sure the image is fully visible */
}

    .navbar-brand img:hover {
        transform: scale(1.1); /* Makes the image 10% larger when hovered */
    }